<!-- navigationBar code -->
<div class="sidebar">
  <div class="logo-details">
    <div class="logo">
      <h3 class="head">Campaigns</h3>
    </div>
  </div>
  <button mat-flat-button class="campaign-item">
    Recent
  </button>
  <!-- folder and campaign structure -->
  <div class="row folder">
    <div style="float: left;width: 70%;">
      <span style=" color: rgba(120, 121, 137, 255);">FOLDERS</span>
    </div>
    <div style="float: left;width: 15%;">
      <mat-icon class="mat-18" [ngClass]="{'clicked': addfolder}" (click)="addNewFolder()">add</mat-icon>
    </div>
    <div style="float: left;width: 15%;">
      <mat-icon class="mat-18" [ngClass]="{'clicked': isClicked}" #updkey (click)="isClicked=!isClicked;hidelist=!hidelist">keyboard_arrow_up</mat-icon>
    </div>
  </div>
  <ul class="nav-links" id="nav-links" *ngIf="hidelist">
    <li *ngFor="let item of folderStruct;let i=index" #itemEl routerLinkActive="active">
      <div *ngIf="item.children.length == 0;" class="dropdown-title">
        <a [routerLink]="">
          <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
          <span class="link_name">{{item.name}}</span>
        </a>
      </div>
      <div *ngIf="item.children.length > 0" class="dropdown-title">
        <a>
          <mat-icon class="arrow" id="{{i}}" (click)="showMenu(itemEl,i)">keyboard_arrow_right</mat-icon>
          <span class="link_name">{{item.name}}</span>
        </a>

      </div>
      <ul class="sub-menu" [class.blank]="item.children.length == 0">
        <li><a class="link_name">{{item.name}}</a></li>
        <li *ngFor="let item_sub of item.children" routerLinkActive="active" (click)="locatePage(item_sub)">
          <a>{{item_sub.name}} <mat-icon class='bx bxs-chevron-down arrow'>more_vert</mat-icon></a>
        </li>
      </ul>
    </li>
  </ul>
</div>